<p id='assignee_search_p'>
  <%= text_field_tag 'assignee_search', nil %>
  <a href="#cancel" onClick='$("#assignee_search").val(""); $("#issue_assigned_to_id").html($("#issue_assigned_to_id_dup").html()); $("#issue_assigned_to_id").attr("size", 1); return false;'>Отменить</a><br>
  <select style='display: none;' id="issue_assigned_to_id_dup" disabled><option></option><%= principals_options_for_select(issue.assignable_users, issue.assigned_to) %></select>
</p>

<script type='text/javascript'>
	function anyassignee_swap_inputs() {
		var offset_top = $('#issue_assigned_to_id').offset().top;
		var width      = $('#assignee_search_p').width();
		$("#assignee_search_p").css({ top: offset_top-8, position: 'absolute' });
		$("#issue_assigned_to_id").css({ 'margin-top':  '26px', position: 'relative', 'width': width });
		$("#issue_assigned_to_id").parent().width(width)
	}
/*
	if ($('.icon-edit').length == 0) {
		anyassignee_swap_inputs();
	} else {
		$('.icon-edit').on('click', anyassignee_swap_inputs);
	}
*/
</script>

<%= javascript_tag "observeSearchfield('assignee_search', 'issue_assigned_to_id',
	'#{
		escape_javascript url_for(
			:controller 	=> 'usersearchfield',
			:action 	=> "autocomplete_for_user",
			:field_id	=> 'issue_assigned_to_id',
			:selected	=> @issue.nil? ? nil : ( @issue.assigned_to.nil? ? nil : @issue.assigned_to )
		)
	}')" %>
